ERLANG_NAME="{{ erlang_name }}"
HOSTNAME={{ hostname }}
SECRET_KEY_BASE={{ secret_key_base }}
DB_HOST={{ db_host }}
DB_USER={{ db_user }}
DB_PASS={{ db_pass }}
DB_NAME={{ db_name }}
PORT={{ port }}
LANG={{ lang }}
REPLACE_OS_VARS={{ replace_os_vars }}
ERLANG_COOKIE={{ erlang_cookie }}
BESPIRAL_WALLET_PASSWORD={{ bespiral_wallet_password }}
BESPIRAL_ACCOUNT={{ bespiral_account }}
BESPIRAL_CONTRACT={{ bespiral_contract }}
BESPIRAL_AUTO_INVITE_CMM={{ bespiral_auto_invite_cmm }}
EOSIO_WALLET_NAME={{ eosio_wallet_name }}
EOSIO_WALLET_URL={{ eosio_wallet_url }}
EOSIO_URL={{ eosio_url }}
EOSIO_SYMBOL={{ eosio_symbol }}
MIX_ENV={{ mix_env }}
PUSH_PRIVATE_KEY={{ push_private_key }}
PUSH_PUBLIC_KEY={{ push_public_key }}
INVITATION_SALT={{ invitation_salt }}
AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
BUCKET_NAME={{ bucket_name }}
GRAPHQL_SECRET={{ graphql_secret }}
USER_SALT={{ user_salt }}
SENDINBLUE_KEY={{ sendinblue_key }}
