<!DOCTYPE html>
<html>

<% import CambiatusWeb.Gettext %>
    <% Gettext.put_locale(CambiatusWeb.Gettext, Atom.to_string(@data.language)) %>

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>Cambiatus</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="icon" type="image/png"
                href="https://uploads-ssl.webflow.com/5e4e898f09bfea6abb6f44be/5e511ffe258ffe3e9e8243fc_logo32.svg">

            <style>
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 46px;
                    height: 24px;
                }

                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .switch-label {
                    margin-left: 15px;
                    margin-right: 5px;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 2px;
                    bottom: 2px;
                    background-color: #5C5C5C;
                    -webkit-transition: .2s;
                    transition: .2s;
                }

                input:checked+.slider {
                    background-color: #45469B;
                }

                input:focus+.slider {
                    box-shadow: 0 0 1px #F8F8F8;
                }

                input:checked+.slider:before {
                    -webkit-transform: translateX(22px);
                    -ms-transform: translateX(22px);
                    transform: translateX(22px);
                    background-color: white;
                }


                .slider.round {
                    border-radius: 19px;
                    border: 2px solid #F8F8F8;
                }

                .slider.round:before {
                    border-radius: 50%;
                }

                .row {
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    border-bottom: 1px solid #E7E7E7;
                }

                .bottom-row {
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                }


                .ul {
                    list-style-type: none;
                    margin: 5px;
                    padding: 5px;
                    width: 100%;
                }

                .flexing {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                .form {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    background-color: white;
                    padding-left: 25px;
                    padding-right: 25px;
                    margin: 25px;
                    border-radius: 20px;
                    width: 100%;
                    max-width: 80vw;
                    min-width: 80px;
                    margin: 0 auto;
                    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
                }

                @media (min-width: 768px) {
                    .form {
                        width: 100%;
                        max-width: 600px;
                        min-width: 100px;
                        margin: 0 auto;
                    }
                }

                .button-style {
                    background-color: #F99D33;
                    width: 100%;
                    height: 40px;
                    border: none;
                    color: white;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin: 15px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 24px;
                }

                .button-style:hover {
                    background-color: #FAB15C;
                    color: white;
                }

                .header {
                    background-color: white;
                    padding: 12px;
                    text-align: center;
                }

                .alert {
                    width: 100%;
                    margin-bottom: 50px;
                    padding: 10px;
                    position: -webkit-sticky;
                    position: sticky;
                    top: 0;
                    text-align: center;
                    color: white;
                }
            </style>
        </head>

        <body style="margin: 0; padding: 0; background-color: #F6F6F6; font: 14px 'nunito', sans-serif;">
            <div class="header">
                <a href="https://www.cambiatus.com/" target="_blank"> <img
                        src="https://uploads-ssl.webflow.com/5e4e898f09bfea6abb6f44be/5e4ede46179566acc07948ca_complete.svg"
                        alt=""> </a>
            </div>
            <div class="alert" id="feedback" style="visibility: hidden;">
                <span id="feedback-string" style="font-weight: bold;"></span>
            </div>
            <form class="form" action="/api/graph" method="post">
                <h1 style="text-align: center; font-size: 22px;">
                    <%= gettext("Which mailing list do you wish to unsubscribe from?") %>
                </h1>
                <ul class="ul">
                    <li class="row">
                        <div class="flexing">
                            <span>
                                <%= gettext("News Digest") %>
                            </span>
                            <div class="flexing">
                                <label for="digest" class="switch-label">
                                </label>
                                <label class="switch">
                                    <input type="checkbox" id="digest" class="switch"
                                        <%= if @data.digest, do: "checked" %> />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="flexing">
                            <span>
                                <%= gettext("Claims Notifications") %>
                            </span>
                            <div class="flexing">
                                <label for="claims" class="switch-label"></label>
                                <label class="switch">
                                    <input type="checkbox" id="claims" class="switch"
                                        <%=if @data.claim_notification, do: "checked" %> />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="bottom-row">
                        <div class="flexing">
                            <span>
                                <%= gettext("Transfer Notifications") %>
                            </span>
                            <div class="flexing">
                                <label for="transfers" class="switch-label"></label>
                                <label class="switch">
                                    <input type="checkbox" id="transfers" class="switch"
                                        <%=if @data.transfer_notification, do: "checked" %> />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="button-style" type="button" onclick="emailUnsubscribe()">
                    <%= gettext("Submit") %>
                </button>
            </form>

            <script>
                let toggles = [
                    document.getElementById("digest"),
                    document.getElementById("claims"),
                    document.getElementById("transfers")
                ];

                toggles.forEach(function (toggle) {
                    toggle.addEventListener("change", function () {
                        if (toggle.checked) {
                            toggle.parentElement.parentElement.querySelector(".switch-label").innerText = "enabled";
                            toggle.parentElement.parentElement.querySelector(".switch-label").style.color = "#45469B";
                        } else {
                            toggle.parentElement.parentElement.querySelector(".switch-label").innerText = "disabled";
                            toggle.parentElement.parentElement.querySelector(".switch-label").style.color = "black";
                        }
                    });
                });

                window.addEventListener("load", function () {
                    toggles.forEach(function (toggle) {
                        if (toggle.checked) {
                            toggle.parentElement.parentElement.querySelector(".switch-label").innerText = "enabled";
                            toggle.parentElement.parentElement.querySelector(".switch-label").style.color = "#45469B";
                        } else {
                            toggle.parentElement.parentElement.querySelector(".switch-label").innerText = "disabled";
                            toggle.parentElement.parentElement.querySelector(".switch-label").style.color = "black";
                        }
                    });
                });

                function emailUnsubscribe() {
                    document.getElementById("feedback").style.visibility = "hidden";

                    const digest = document.getElementById('digest').checked;
                    const claims = document.getElementById('claims').checked;
                    const transfers = document.getElementById('transfers').checked;

                    var body = "";
                    if (digest) {
                        body += "digest: true "
                    } else {
                        body += "digest: false "
                    };
                    if (claims) {
                        body += "claimNotification: true "
                    } else {
                        body += "claimNotification: false "
                    };
                    if (transfers) {
                        body += "transferNotification: true"
                    } else {
                        body += "transferNotification: false "
                    };

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/api/graph', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.setRequestHeader('Authorization', 'Bearer ' + '<%= @data.token %>');
                    xhr.send(JSON.stringify({
                        query: "mutation {preference(" + body + ") {account}} "
                    }));

                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == XMLHttpRequest.DONE) {
                            if (xhr.responseText === '{"data":{"preference":{"account":"<%= @data.account %>"}}}') {
                                document.getElementById("feedback").style.visibility = "visible";
                                document.getElementById("feedback").style.backgroundColor = "#8ACC9E";
                                document.getElementById("feedback-string").innerText = "<%= gettext("Preferences updated successfully!") %>";
                            } else {
                                document.getElementById("feedback").style.visibility = "visible";
                                document.getElementById("feedback").style.backgroundColor = "#DB1B1B";
                                document.getElementById("feedback-string").innerText = "<%= gettext("Something went wrong.Please try again.") %>";
                            }
                        }
                    }

                };
            </script>
        </body>

</html>
