<!DOCTYPE html>
<html>

    <% import CambiatusWeb.Gettext %>
    <% Gettext.put_locale(CambiatusWeb.Gettext, Atom.to_string(@data.language)) %>

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>Cambiatus</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="icon" type="image/png"
                href="https://uploads-ssl.webflow.com/5e4e898f09bfea6abb6f44be/5e511ffe258ffe3e9e8243fc_logo32.svg">
            <link
                href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
                rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">

            <style>
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 46px;
                    height: 24px;
                }

                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .switch-label {
                    margin-left: 15px;
                    margin-right: 5px;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 2px;
                    bottom: 2px;
                    background-color: #5C5C5C;
                    -webkit-transition: .2s;
                    transition: .2s;
                }

                input:checked+.slider {
                    background-color: #45469B;
                }

                input:focus+.slider {
                    box-shadow: 0 0 1px #F8F8F8;
                }

                input:checked+.slider:before {
                    -webkit-transform: translateX(22px);
                    -ms-transform: translateX(22px);
                    transform: translateX(22px);
                    background-color: white;
                }


                .slider.round {
                    border-radius: 19px;
                    border: 2px solid #F8F8F8;
                }

                .slider.round:before {
                    border-radius: 50%;
                }

                .row {
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    border-bottom: 1px solid #E7E7E7;
                }

                .bottom-row {
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                }


                .ul {
                    list-style-type: none;
                    margin: 5px;
                    padding: 5px;
                    width: 100%;
                }

                .flexing {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                .form {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    background-color: white;
                    padding-left: 25px;
                    padding-right: 25px;
                    margin: 25px;
                    border-radius: 20px;
                    width: 100%;
                    max-width: 80vw;
                    min-width: 80px;
                    margin: 0 auto;
                    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
                }

                @media (min-width: 768px) {
                    .form {
                        width: 100%;
                        max-width: 600px;
                        min-width: 100px;
                        margin: 0 auto;
                    }
                }

                .button-style {
                    background-color: #F99D33;
                    width: 100%;
                    height: 40px;
                    border: none;
                    color: white;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin: 15px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 24px;
                    cursor: pointer;
                }


                .button-style:hover {
                    background-color: #FAB15C;
                    color: white;
                }

                .header {
                    background-color: white;
                    padding: 12px;
                }

                .header-content {
                    margin: 0 auto;
                    max-width: 80vw;
                    min-height: 80px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }

                @media (min-width: 768px) {
                    .header-content {
                        flex-direction: row;
                        min-height: 0;
                        width: 100%;
                        max-width: 650px;
                        min-width: 100px;
                        margin: 0 auto;
                    }
                }

                .alert {
                    width: 100%;
                    margin-bottom: 50px;
                    padding: 10px;
                    position: -webkit-sticky;
                    position: sticky;
                    top: 0;
                    text-align: center;
                    color: white;
                }

                .avatar {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            </style>
        </head>

        <body style="margin: 0; padding: 0; background-color: #F6F6F6; font-size: 14px;
                font-family: 'Nunito Sans', 'Lato', 'San Francisco', 'Helvetica', 'Verdana', sans-serif;">
            <div class="header">
                <div class="header-content">
                    <a href="https://www.cambiatus.com/" target="_blank"> <img
                            src="https://uploads-ssl.webflow.com/5e4e898f09bfea6abb6f44be/5e4ede46179566acc07948ca_complete.svg"
                            alt=""> </a>
                    <div class="flexing">
                        <div style="height: 32px; width: 32px;">
                            <%= if @data.avatar do
                                    Phoenix.HTML.Tag.tag(:img, [src: @data.avatar, class: "avatar", alt: ""])
                                else
                                    Phoenix.HTML.Tag.content_tag(:svg, viewBox: "0 0 43 43", class: "w-20 h-20 mr-6 xs-max:w-16 xs-max:h-16 xs-max:mr-3") do
                                        [Phoenix.HTML.Tag.tag(:path, d: "M21.5 0C33.378 0 43 9.622 43 21.5 43 33.306 33.426 43 21.5 43 9.598 43 0 33.33 0 21.5 0 9.622 9.622 0 21.5 0zm14.853 32.418c2.232-3.071 3.576-6.839 3.576-10.918 0-10.15-8.279-18.429-18.429-18.429-10.15 0-18.429 8.279-18.429 18.429 0 4.08 1.344 7.847 3.576 10.918.864-4.295 2.951-7.847 7.342-7.847 1.944 1.896 4.584 3.072 7.511 3.072 2.927 0 5.567-1.176 7.51-3.072 4.392 0 6.48 3.552 7.343 7.847zm-5.639-15.525c0 5.087-4.127 9.214-9.214 9.214-5.087 0-9.214-4.127-9.214-9.214 0-5.087 4.127-9.214 9.214-9.214 5.087 0 9.214 4.127 9.214 9.214z")]
                                    end
                                end
                            %>
                        </div>
                        <span style="padding-left: .5rem"> <%= gettext("Hello,") <> " #{@data.account}" %> </span>
                    </div>
                </div>
            </div>
            <div class="alert" id="feedback" style="visibility: hidden;">
                <span id="feedback-string" style="font-weight: bold;"></span>
            </div>
            <form class="form">
                <h1 style="text-align: center; font-size: 22px;">
                    <%= gettext("Which mailing list do you wish to unsubscribe from?") %>
                </h1>
                <ul class="ul">
                    <li class="row">
                        <div class="flexing">
                            <span>
                                <%= gettext("Claim Notification") %>
                            </span>
                            <div class="flexing">
                                <label for="claims" class="switch-label"></label>
                                <label class="switch">
                                    <input type="checkbox" id="claims" class="switch"
                                        <%=if @data.claim_notification, do: "checked" %> />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="flexing">
                            <span>
                                <%= gettext("Transfer Notification") %>
                            </span>
                            <div class="flexing">
                                <label for="transfers" class="switch-label"></label>
                                <label class="switch">
                                    <input type="checkbox" id="transfers" class="switch"
                                        <%=if @data.transfer_notification, do: "checked" %> />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="bottom-row">
                        <div class="flexing">
                            <span>
                                <%= gettext("Monthly news about the community") %>
                            </span>
                            <div class="flexing">
                                <label for="digest" class="switch-label">
                                </label>
                                <label class="switch">
                                    <input type="checkbox" id="digest" class="switch"
                                        <%= if @data.digest, do: "checked" %> />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="button-style">
                    <%= gettext("Submit") %>
                </button>

            </form>

            <script>
                const toggles = [
                    document.getElementById("digest"),
                    document.getElementById("claims"),
                    document.getElementById("transfers")
                ];


                const enabled_text = "<%= gettext("enabled") %>";
                const disabled_text = "<%= gettext("disabled") %>";

                toggles.forEach(function (toggle) {
                    toggle.addEventListener("change", function () {
                        if (toggle.checked) {
                            toggle.parentElement.parentElement.querySelector(".switch-label").innerText = enabled_text;
                            toggle.parentElement.parentElement.querySelector(".switch-label").style.color = "#45469B";
                        } else {
                            toggle.parentElement.parentElement.querySelector(".switch-label").innerText = disabled_text;
                            toggle.parentElement.parentElement.querySelector(".switch-label").style.color = "#9E9E9E";
                        }
                    });
                });

                window.addEventListener("load", function () {
                    toggles.forEach(function (toggle) {
                        if (toggle.checked) {
                            toggle.parentElement.parentElement.querySelector(".switch-label").innerText = enabled_text;
                            toggle.parentElement.parentElement.querySelector(".switch-label").style.color = "#45469B";
                        } else {
                            toggle.parentElement.parentElement.querySelector(".switch-label").innerText = disabled_text;
                            toggle.parentElement.parentElement.querySelector(".switch-label").style.color = "#9E9E9E";
                        }
                    });
                });

                function emailUnsubscribe(e) {
                    e.preventDefault();

                    document.getElementById("feedback").style.visibility = "hidden";

                    const digest = document.getElementById('digest').checked;
                    const claims = document.getElementById('claims').checked;
                    const transfers = document.getElementById('transfers').checked;

                    const body = 'digest: ' + digest + ' claimNotification: ' + claims + ' transferNotification: ' + transfers;

                    fetch('/api/graph', {
                        method: 'POST',
                        body: JSON.stringify({ query: 'mutation { preference(' + body + ') { account }}' }),
                        headers: {
                            'Content-Type': 'application/json',
                            Authorization: 'Bearer ' + '<%= @data.token %>'
                        }
                    })
                        .then((res) => res.json())
                        .then((res) => {
                            if (res.hasOwnProperty('data') && res.data.preference.account === '<%= @data.account %>') {
                                document.getElementById("feedback").style.visibility = 'visible';
                                document.getElementById("feedback").style.backgroundColor = '#8ACC9E';
                                document.getElementById("feedback-string").innerText = '<%= gettext("Preferences updated successfully!") %>!';
                            } else {
                                document.getElementById("feedback").style.visibility = "visible";
                                document.getElementById("feedback").style.backgroundColor = "#DB1B1B";
                                document.getElementById("feedback-string").innerText = '<%= gettext("Something went wrong. Please try again.") %>';
                            }
                        });
                };

                document.querySelector('.form').addEventListener('submit', emailUnsubscribe);
            </script>
        </body>

</html>
