<html lang="en" class="h-full" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--
      Open Graph Protocol tags. See https://stackoverflow.com/questions/19778620/provide-an-image-for-whatsapp-link-sharing/43154489#43154489
      for better explanation on how these work and what each of them does.
      -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@_cambiatus">
    <meta name="description" content="<%= description %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:locale" content="<%= locale %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:url" content=<%= url %>>
    <meta property="og:image" content=<%= image %>>

    <title><%= title %></title>
  </head>
