<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cambiatus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        @media screen and (max-width: 600px) {
            table[class="container"] {
                width: 95% !important;
            }
        }
    </style>
</head>

<body style="margin: 0; padding: 0;">
    <h1 style="text-align: center;">Which mailing list do you wish to unsubcribe from?</h1>

    <form style="text-align: left;" action="/api/graph" method="post">
        <input type="checkbox" id="digest" />
        <label for="digest">News Digest</label><br>
        <input type="checkbox" id="claims" />
        <label for="claims">Claims Notifications</label><br>
        <input type="checkbox" id="transfers" />
        <label for="transfers">Transfer Notifications</label><br>
        <button type="button" onclick="unsubscribe()">Submit</button>
    </form>

    <script>
        function unsubscribe() {
            const digest = document.getElementById('digest').checked;
            const claims = document.getElementById('claims').checked;
            const transfers = document.getElementById('transfers').checked;

            if (digest == false && claims == false && transfers == false) {
                return alert("You must select at least one mailing list to unsubscribe from.");
            }

            var body = ""
            if (digest == true) {
                body += "digest: false ";
            }
            if (claims == true) {
                body += "claimNotification: false ";
            }
            if (transfers == true) {
                body += "transferNotification: false";
            }

            const token = <%= @data.token %>;

            xhr.open('POST', '/api/graph', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('Authorization', 'Bearer ' + token);
            xhr.send(JSON.stringify({
                query: "mutation {preference(" + body + ") { account } } "
            }));
        }
    </script>
</body>


</html>
