name: Elixir CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        otp: ["28.0.0"]
        elixir: ["1.18.4"]

    services:
      db:
        image: postgres
        ports: ["5432:5432"]
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28.0.0"
          elixir-version: "1.18.4"

      - run: sudo apt -y install exiftool
      - run: mix deps.get
      - run: mix format --check-formatted
      - run: mix do format --check-formatted, credo --strict --only warning
      - run: mix sobelow --config
      - run: mix test
